@{
    ViewData["Title"] = "log in or sign up";
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/index.css" />
}

<div class="landing">
    <div class="landing-text">
        <h1>Welcome to Travel Tracker</h1>
        <p>Share your travels with others</p>
    </div>
    <img src="images/LandingPagePic.gif" alt="" class="landing-image">
</div>
