@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IdentityUser


@{
    ViewData["Title"] = Html.DisplayFor(model => model.UserName);
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/userDetails.css" />
}

@section Scripts{
    <script src="~/js/userDetails.js"></script>
}

<h2>User Details</h2>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <userdetails name="Username" value="@Model.UserName" content-href="#collapse1"></userdetails>
    <div id="collapse1" class="panel-collapse collapse">
      <div class="panel-body">
		<form method="POST" asp-controller="User" asp-action="ChangeUserName">
            <div class="form-group">
                <label>New Username</label>
                <input type="text" name="newUserName" value='@Html.DisplayFor(model => model.UserName)' class="form-control"/>
            </div>
            <input type="submit" value="Save" class="btn btn-primary"/>
        </form>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <userdetails name="Email" value="@Model.Email" content-href="#collapse2"></userdetails>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
  <div class="panel panel-default">
    <userdetails name="Password" value="" content-href="#collapse3"></userdetails>
    <div id="collapse3" class="panel-collapse collapse">
      <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
      minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat.</div>
    </div>
  </div>
</div>