@using TravelTracker.Views
@using TravelTracker.User
@model UserDetailsViewModel


@{
    ViewData["Title"] = Model.NewUserName.Value;
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/user/details.css"/>
}

<h2>User Details</h2>

<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <userdetails name="Username" value="@Model.NewUserName.Value" content-href="#collapse1"></userdetails>
    <div id="collapse1" class="panel-collapse collapse">
      @if(ViewData.ModelState.IsFieldInvalid("NewUserName.NewUserName"))
      {
        <div id="NewUserNameInvalid"></div>
      }
      <div class="panel-body">
		<form method="POST" asp-controller="User" asp-action="ChangeUserName">
            <div class="form-group">
                <label>New Username</label>
                <input asp-for="NewUserName.Value" value="@Model.NewUserName.Value" class="form-control"/>
				<span asp-validation-for="NewUserName.Value" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary"/>
			<a class="btn" asp-controller="User" asp-action="Index">Cancel</a>
        </form>
	  </div>
    </div>
  </div>
  <div class="panel panel-default">
    <userdetails name="Email" value="@Model.NewEmail.Value" content-href="#collapse2"></userdetails>
    <div id="collapse2" class="panel-collapse collapse">
      @if(ViewData.ModelState.IsFieldInvalid("NewEmail.NewEmail"))
      {
        <div id="NewEmailInvalid"></div>
      }
      <div class="panel-body">
        <form method="POST" asp-controller="User" asp-action="ChangeEmail">
            <div class="form-group">
                <label>New Email</label>
                <input asp-for="NewEmail.Value" value="@Model.NewEmail.Value" class="form-control"/>
				<span asp-validation-for="NewEmail.Value" class="text-danger"></span>
            </div>
            <input type="submit" value="Save" class="btn btn-primary"/>
		    <a class="btn" asp-controller="User" asp-action="Index">Cancel</a>
        </form>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <userdetails name="Password" value="" content-href="#collapse3"></userdetails>
    <div id="collapse3" class="panel-collapse collapse">
      @if(ViewData.ModelState.IsAFieldInvalid("NewPassword.CurrentPassword", "NewPassword.NewPassword", "NewPassword.RetypeNewPassword", "NewPassword.PasswordError"))
      {
        <div id="NewPasswordInvalid"></div>
      }
	    <div class="panel-body">	
            <form method="POST" asp-controller="User" asp-action="ChangePassword">
				<span asp-validation-for="NewPassword.PasswordError" class="text-danger"></span>
                <div class="form-group">
                    <label>Current Password</label>
                    <input asp-for="NewPassword.CurrentPassword" type="password" class="form-control"/>
					<span asp-validation-for="NewPassword.CurrentPassword" class="text-danger"></span>
                </div>
    			<div class="form-group">
                    <label>New Password</label>
                    <input asp-for="NewPassword.NewPassword" type="password" class="form-control"/>
					<span asp-validation-for="NewPassword.NewPassword" class="text-danger"></span>
                </div>
    			<div class="form-group">
                    <label>Retype New Password</label>
                    <input asp-for="NewPassword.RetypeNewPassword" type="password" class="form-control"/>
					<span asp-validation-for="NewPassword.RetypeNewPassword" class="text-danger"></span>
                </div>					
                <input type="submit" value="Save" class="btn btn-primary"/>
				<a class="btn" asp-controller="User" asp-action="Index">Cancel</a>
            </form>				
	    </div>
    </div>
  </div>
</div>


@section Scripts{
    <script src="~/js/user-details.js"></script>
    <script src="~/js/user-validation.js"></script>
}