@using Microsoft.AspNetCore.Identity.EntityFrameworkCore
@model IdentityUser

<form class="navbar-form navbar-right" role="search" asp-controller="Login" asp-action="Logout">
	<ul class="nav navbar-nav navbar-right">
		<li>
			<p class="navbar-text align-middle" style="margin-top: 6px; margin-bottom: 6px;">Hello @Model.UserName</p>
		</li>
		<li>
			<button type="submit" class="btn btn-default">Log out</button>
		</li>
	</ul>    
</form>