@using TravelTracker.User
@model IEnumerable<UserViewModel>


@{
    ViewData["Title"] = "All Accounts";
}

@section Stylesheets{
    <link rel="stylesheet" href="~/css/account/displayAll.css" />
}

@if (Model.Any())
{
<ul id="accountList" class="list-group media-list panel-body">
	@foreach(var user in Model)
	{
	<li class="list-group-item">
		<div class="row">
			<div class="col-sm-9">
	            <p class="no-bottom-margin">@user.UserName</p>
			</div>
			<div class="col-sm-3">
				<div class="row">
		            <a href="@user.RouteUrl" class="col-sm-6 text-right content-divider">Edit</a>
					<form asp-controller="Account" asp-action="DeleteUser" method="post" class="col-sm-6">
						<input type="hidden" name="username" value="@user.UserName">
                        <input type="submit" class="btn-link btn-no-padding-and-border" value="Delete"/>
					</form>
				</div>
			</div>
		</div>
	</li>
	}
</ul>
}