@using TravelTracker.User
@model IEnumerable<UserViewModel>


@{
    ViewData["Title"] = "All Accounts";
}

<ul class="list-group media-list">
	@foreach(var user in Model.Users)
	{
	<li class="list-group-item">
		<div>
	        <p>@user.UserName</p>
			<a href="/@user.UserName">Edit</a>
            <br/>
			<a asp-controller="Account" asp-action="Delete">Delete</a>
		</div>
	</li>
	}
</ul>