@using TravelTracker.User
@model RegisterUserViewModel
@{
    ViewData["Title"] = "Register new accounts";
}

<form method="POST" asp-controller="Account" asp-action="Register">
    <span asp-validation-for="ErrorMessage" class="text-danger"></span>
	
    <div class="form-group">
        <label >Email</label>
        <input asp-for="Email" class="form-control"/>
		<span asp-validation-for="Email" class="text-danger"></span>
    </div>

	<div class="form-group">
        <label >User Name</label>
        <input asp-for="UserName" class="form-control"/>
		<span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Password</label>
        <input asp-for="Password" type="password" class="form-control"/>
		<span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Retype Password</label>
        <input asp-for="RetypePassword" type="password" class="form-control"/>
		<span asp-validation-for="RetypePassword" class="text-danger"></span>
    </div>

    <input type="submit" class="btn btn-primary"/>
</form>

@section Scripts{
    <script src="~/js/user-validation.js"></script>
}
