@using TravelTracker.Messages
@inject IMessageCollection MessageCollection
@{
    ViewData["Title"] = "Register new accounts";
}

<form method="POST">
    <div>
        <label >Email</label>
        <input type="email" name="email"/>
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password"/>
    </div>

    <div>
        <label>Retype password</label>
        <input type="password" name="repassword"/>
    </div>

    <input type="submit"/>
</form>

<ul> 
    @foreach(var message in MessageCollection.Messages)
	{
	    <li>@message.Message</li>
	}
</ul>
